<div class="col-md-2 left-content" style="height:auto;background-color:#b0c280;border-right:solid 1px gray;text-align:left;">
{#    <div style="margin-top:40px;"><a href="/admin/python">Python语言</a></div>#}
    <div style="margin-top:40px;"><a href="{% url 'admin-urls:python' %}">Python语言</a></div>
    <div><a href="{% url 'admin-urls:profile' %}">个人中心</a></div>
    <div><a href="">C++语言</a></div>
    <div><a href="">JAVA语言</a></div>
    <div><a href="">C#语言</a></div>
    <div><a href="">PHP语言</a></div>
{#    <div><a href="">JQUERY语言</a></div>#}
{#    <div><a href="">HTML语言</a></div>#}
</div>