{% extends 'base_admin.html' %}
{% load staticfiles %}
{% block style %}
    .row {
        margin-top:60px;
    }
    .row label {
        text-align: right;
    }
{% endblock %}
{% block right-content %}
        <div class="col-md-10 right-content" style="text-align:left;">
			<form action="" method="post" class="form form-horizontal" id="demoform-1">
					<legend>新增子标题和内容</legend>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3">标题：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" value="{{ python_title.title }}" class="input-text" autocomplete="off" placeholder="标题" style="width: 80%">
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3">子标题：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" value="" class="input-text" autocomplete="off" placeholder="子标题" style="width: 80%">
						</div>
					</div>
{#					<div class="row cl">#}
{#						<label class="form-label col-xs-4 col-sm-3">单选框：</label>#}
{#						<div class="formControls skin-minimal col-xs-8 col-sm-9">#}
{#							<div class="radio-box">#}
{#								<div class="iradio-blue checked"><input type="radio" id="sex-1" name="sex" checked="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>#}
{#								<label for="sex-1" class="">男</label>#}
{#							</div>#}
{#							<div class="radio-box">#}
{#								<div class="iradio-blue"><input type="radio" id="sex-0" name="sex" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>#}
{#								<label for="sex-0" class="">女</label>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<div class="row cl">#}
{#						<label class="form-label col-xs-4 col-sm-3">复选框：</label>#}
{#						<div class="formControls skin-minimal col-xs-8 col-sm-9">#}
{#							<div class="check-box">#}
{#								<div class="icheckbox-blue"><input type="checkbox" id="checkbox-5" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>#}
{#								<label for="checkbox-5">复选框</label>#}
{#							</div>#}
{#							<div class="check-box">#}
{#								<div class="icheckbox-blue checked"><input type="checkbox" id="checkbox-6" checked="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>#}
{#								<label for="checkbox-6" class="">复选框 checked状态</label>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<div class="row cl">#}
{#						<label class="form-label col-xs-4 col-sm-3">文件域：</label>#}
{#						<div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">#}
{#							<input class="input-text upload-url" type="text" name="uploadfile-2" id="uploadfile-2" readonly="">#}
{#							<a href="javascript:void();" class="btn btn-primary upload-btn"><i class="Hui-iconfont"></i> 浏览文件</a>#}
{#							<input type="file" multiple="" name="file-2" class="input-file">#}
{#							</span> </div>#}
{#					</div>#}
{#					<div class="row cl">#}
{#						<label class="form-label col-xs-4 col-sm-3">下拉框：</label>#}
{#						<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">#}
{#							<select class="select" size="1" name="demo1">#}
{#								<option value="" selected="">默认select</option>#}
{#								<option value="1">菜单一</option>#}
{#								<option value="2">菜单二</option>#}
{#								<option value="3">菜单三</option>#}
{#							</select>#}
{#							</span> </div>#}
{#					</div>#}
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-3">文本域：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<textarea class="textarea" placeholder="说点什么..." rows="" cols="" value="" name="" style="min-height:400px;width: 80%"></textarea>
						</div>
					</div>
					<div class="row cl">
						<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
							<input class="btn btn-primary radius" type="submit" value="保存">
                            <input class="btn btn-primary radius" type="submit" value="取消">
						</div>
					</div>
				</form>
        </div>

{% endblock %}
{% block js %}
<script>
    $(function(){
        var height = $('.left-content').height();
        $('.right-content').css('height',height);
    })
</script>
{% endblock %}